.mw_fullScreen {
    padding-top: 2rem;
    padding-bottom: 0;
}

.align-center {
    text-align: center
}

.align-left {
    text-align: left
}

.align-right {
    text-align: right
}

.float-left {
    float: left
}


@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}

.main_title {
    font-family: Montserrat-Bold;
    font-size: 45px;
    color: #ffffff;
    line-height: 55px;
}

.decs_title {
    font-family: PingFangSC-Semibold;
    font-size: 30px;
    color: #ffffff;
    line-height: 42px;
}
.big_title{
    text-align: left;
}

.mainTitleAnimation {
    animation: animLoadedContent 1s cubic-bezier(0.5,0,0.3,1) both;
    -webkit-animation: animLoadedContent 1s cubic-bezier(0.5,0,0.3,1) both;
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}


@media screen and (max-aspect-ratio: 1/1) {
    .lgShow{
        display: none;
    }
    .title_big{
        padding-top: 10%;
    }
    .img_big{
        padding-top: 5%;
    }
    .right_img{
        padding-top: 5%;
        margin-left: 30px;
    }
    .right_title{
        text-align: right;
    }
}

@media screen and (min-aspect-ratio: 1/1) {
    .img_big {
        padding-left: 10%;
        width: 70%;
    }
    .right_img{
        padding-left: 10%;
        width: 70%;
    }
    .padding_left_title{
        padding-left: 10%;
    }
    .title_big{
        padding-top: 25%;
        padding-bottom: 10%;
    }
    .smShow{
        display: none;
    }
    .right_title{
        text-align: left;
    }
}

